framework: netcoreapp31
source https://api.nuget.org/v3/index.json

nuget FSharp.Core 4.7.2

// PRODUCTION STUFF
nuget Microsoft.Extensions.Configuration 3.1.5
nuget Microsoft.Extensions.Configuration.CommandLine 3.1.5
nuget Microsoft.Extensions.Configuration.FileExtensions 3.1.5
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 3.1.5
nuget Microsoft.Extensions.Configuration.Json 3.1.5

nuget Microsoft.Extensions.Http 3.1.5
nuget Microsoft.Extensions.Http.Polly 3.1.5

nuget Autofac 5.2.0
nuget Autofac.Extensions.DependencyInjection 6.0.0

nuget FeatureToggle 4.0.2

nuget Serilog.Sinks.Seq 4.0.0

// BASE REGISTRIES STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.2.0
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 2.2.3 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 5.0.5

nuget Be.Vlaanderen.Basisregisters.Api 11.2.4

nuget Be.Vlaanderen.Basisregisters.CommandHandling 5.0.5
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 5.0.5

nuget Be.Vlaanderen.Basisregisters.EventHandling 2.2.3
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 2.2.3

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.6.1
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.2
nuget xunit.categories 2.0.4
nuget AutoFixture 4.11.0
nuget AutoFixture.Xunit2 4.11.0
nuget Unquote 5.0.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
