framework: net5.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core 5.0.0

// PRODUCTION STUFF
nuget Microsoft.Extensions.Configuration 5.0.0
nuget Microsoft.Extensions.Configuration.CommandLine 5.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 5.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 5.0.0
nuget Microsoft.Extensions.Configuration.Json 5.0.0

nuget Microsoft.Extensions.Http 5.0.0
nuget Microsoft.Extensions.Http.Polly 5.0.1

nuget Microsoft.Net.Http.Headers 2.2.8

nuget Autofac 6.1.0
nuget Autofac.Extensions.DependencyInjection 7.1.0

nuget FeatureToggle 4.0.2

nuget InfluxDB.Client 1.14.0

nuget OpenTelemetry 1.0.0-rc1.1
nuget OpenTelemetry.Instrumentation.AspNetCore 1.0.0-rc1.1
nuget OpenTelemetry.Adapter.Dependencies 0.2.0-alpha.275
nuget OpenTelemetry.Exporter.Jaeger 1.0.0-rc1.1
nuget OpenTelemetry.Extensions.Hosting 1.0.0-rc1.1

nuget Serilog.Sinks.Seq 4.0.0

// BASE REGISTRIES STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 5.0.1
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 2.3.2 content: true, copy_content_to_output_dir: always, copy_local: true

nuget Be.Vlaanderen.Basisregisters.AggregateSource 5.0.12
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 5.0.12
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore.Autofac 5.0.12
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing 5.0.12
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.SqlStreamStore.Autofac 5.0.12
nuget Be.Vlaanderen.Basisregisters.AggregateSource.Testing.Xunit 5.0.12

nuget Be.Vlaanderen.Basisregisters.Api 12.1.3

nuget Be.Vlaanderen.Basisregisters.CommandHandling 5.0.12
nuget Be.Vlaanderen.Basisregisters.CommandHandling.SqlStreamStore 5.0.12

nuget Be.Vlaanderen.Basisregisters.EventHandling 3.0.3
nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 3.0.3

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.8.3
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget xunit.categories 2.0.4
nuget AutoFixture 4.15.0
nuget AutoFixture.Xunit2 4.15.0
nuget Unquote 5.0.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
